.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 70px;
    position: absolute;
    width: 100vw;
    top: 0;
    z-index: 100;
    height: 100px;
    box-sizing: border-box;
}

#Tryst-logo {
    width: 85px;
    margin: 0;
    padding: 0;
}

.links {
    margin: 0;
    padding: 0;
}
#HomeLi{
    display: none;
}
.links li {
    display: inline-block;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: 0 15px;
    font-size: 1.4rem;
    width: fit-content;
}
.links a{
    color: white;
}

.links li a::after {
    content: '' !important;
    width: 0;
    height: 3px !important;
    background: aqua !important;
    display: block !important;
    margin: auto !important;
    border-radius: 2px !important;
}

.links li a:hover {
    color: aqua;
}

.links li a:hover::after {
    width: 100%;
}
.active{
    color: aqua !important;
}
.active::after{
    width: 100% !important;
}

.btn {
    padding: 8px 15px;
    margin: 0;
    background-color: grey;
    color: white;
    font-weight: 800;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.RightNav {
    display: inline-flex;
    align-items: center;
}

#hamberger {
    display: none;
    color: white;
}

#menushow,#menuhide {
    display: none;
}

@media (max-width: 800px) {
    .navBar {
        justify-content: space-between;
        padding: 0 40px;
    }
    #menushow{
        display: block;
    }

    .navBar ul {
        display: block;
        position: fixed;
        left: -400px;
        top: 0;
        bottom: 0;
        transition: 1s;
        margin-top: 100px;
        padding-top: 50px;
        width: 400px;
        align-items: center;
        padding-left: 70px;
        background-color: rgba(100, 100, 100, 0.8);
    }
    #HomeLi{
        display: block;
    }

    .navBar ul li {
        display: block;
        margin: 25px;
    }

    #hamberger {
        display: block;
    }
}